*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff; 
    min-height: 100vh;
    overflow-x: hidden; 
    /*background: linear-gradient(0deg, rgba(207,224,255,1) 0%, rgba(130,127,209,1) 100%);*/
    font-family: 'Silkscreen', cursive;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px 30px 50px;
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

header .logo{
    width: 15vmax;
    cursor: pointer;
}

.estilo-titulo{
    font-family: 'Lobster', cursive;
    font-size: 80px;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 05);
    min-height: 80px;
}
  
.nav-link {
    color: #1a1a1a;
}

.nav-link:hover {
    color: #1a1a1a;
}
  
.navbar-brand {
    color: #1a1a1a;
}

.navbar-brand:hover {
    color: #1a1a1a;
}
  
.margin-icon-nav {
    margin-right: 7px;
}

.size-icon-nav {
    font-size: 30px;
}

.navbar-toggler {
    font-size: 40px;
}
  
.navbar-toggler:focus {
    outline: none;
}

.raya{
    max-width: 100%;
    border-width: 0.2rem;
    border-color: #e49116; 
    margin-right: 800px; 
    margin-left: 800px;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

/*section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, #055a84, transparent);
    z-index: 10;
}*/

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.color_fondo{
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

section #slogan{
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 0.8em;
    white-space: nowrap;
    transform: translateY(-100px);
      
}

section #btn{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    background: #e49116;
    border-radius: 20px; 
    transform: translateY(20px); 
    
}
section #btn:hover{
    background: #ad6f10;
}

section #raya-titulo{
    position: absolute;
    text-align: center;
    transform: translateY(-50px);
}

.sec{
    background: #1751a4;
    position: relative;
    padding: 80px;
    height: 80vh; 
}

.sec h2{
    font-size: 3.5vw;
    color: #ffffff;
    margin-bottom: 10px;
}

.sec h3{
    font-size: 2.5vw;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

.sec2{
    background-color: #ffffff;
    top: 0;
    
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "slot0 slot0" 
                         "slot1 slot2";
}

.posicion-itachi{
    margin: 0;
    padding: 0;
    
}

.tamano{
    width: 55%;
    height: 55%;
}

.slot0{
    grid-area: slot0;
    text-align: center;
}

.raya2{
    max-width: 100%;
    border-width: 0.2rem;
    border-color: #e49116; 
    margin-right: 880px; 
    margin-left: 880px;
    padding-bottom: 50px;
}

.slot1{
    grid-area: slot1;
    display: flex;
    align-items: center;
}

.tarjeta-itachi{
    background-color: #ffffff;
    margin-left: 230px;
    margin-right: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    color: #000000;
}

.sombra-tarjeta{
    box-shadow: 5px 5px 5px 5px #b4b4b4;
}

.slot2{
    display: flex;
    grid-area: slot2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "slotj1 slotj2"
                         "slotj3 slotj4";
}

.slotj1{
    grid-area: slotj1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.slotj2{
    grid-area: slotj2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.slotj3{
    grid-area: slotj3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.slotj4{
    grid-area: slotj4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.tamano-iconos{
    font-size: 100px;
    padding-top: 15px;
}

ion-icon {
    color: #dbdbdb;
}

.btn-primary{
    border: none;
    background-color: #e49116;
    color: #fff;  
    border-radius: 20px; 
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
}

.btn-primary:hover{
    background-color: #ad6f10;
}

.card{
    border-radius: 15px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.efecto-3d{
    transform: translateZ(30px);
}

.sec3{
    display: flex;
    align-items: center;
    background-color: #ececec;
    width: 100%;
    height: 100vh;
}

.sec4{
    height: 90vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "slotm0 slotm0 slotm0"
                         "slotm1 slotm2 slotm3"
                         "slotm1 slotm2 slotm3";
}

.slotm0{
    grid-area: slotm0;
}

.slotm1{
    grid-area: slotm1;
}

.slotm2{
    grid-area: slotm2;
}

.slotm3{
    grid-area: slotm3;
}

.sec5{
    height: 5vh;
    background-color: #000000;
}

.raya3{
    max-width: 100%;
    border-width: 0.2rem;
    border-color: #e49116; 
    margin-right: 880px; 
    margin-left: 880px;
    
}

@media (max-width: 991px){
    
}